<!DOCTYPE html>
<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin', request: request, cacheBuster: cacheBuster}); %>
</head>
<body>
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Edit Movie'}); %>
        <div id="content" class="tac">
            <h1 class="tal">Editing Movie: <%= movie.title  || '?' %></h1>
            <hr />
            <h2 class="tal">Confirm Changes (this cannot be undone):</h2>
            <table class="formTable most">
                <tbody>
                    <% for (let action of actions) { %>
                        <tr>
                            <td></td>
                            <td><%= action.hr %></td>
                            <td>&nbsp;</td>
                            <td><code><%= action.db.query %>;</code></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <hr class="most" /><br />
            <form method="POST" action="/admin/edit/<%= movie.id %>/commit">
                <input type="hidden" name="payload" value="<%= data %>" />
                <a href="/admin/edit/<%= movie.id %>"><input type="button" value="Cancel" /></a>
                <input type="submit" value="Commit Changes" />
            </form>
        </div>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
