<!DOCTYPE html>

<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin', request: request, cacheBuster: cacheBuster}); %>
</head>

<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Edit Movie'}); %>
        <div id="content" class="tac main-edit">
            <h1 class="tal">Editing Movie: <%= movie.title  || '?' %></h1>
            <hr />
            <table class="formTable most">
                <tbody>
                    <tr>
                        <td>Title:</td>
                        <td>
                            <input class="input-textbox" name="title" type="text" value="<%= movie.title %>" size="50" />
                        </td>
                        <td>Rating:</td>
                        <td>
                            <input class="input-textbox" name="rating" type="number" step="1" value="<%= movie.rating %>" pattern="\d+" />
                        </td>
                    </tr>
                    <tr>
                        <td>Year:</td>
                        <td>
                            <input class="input-textbox" name="year" type="number" step="1" maxlength="4" size="4" value="<%= movie.year %>" />
                        </td>
                        <td>Department:</td>
                        <td>
                            <select name="dept">
                                <% for (let dept of depts) { %>
                                    <% if (dept.abbr === movie.dept) { %>
                                        <option value="<%= dept.abbr %>" label="<%= dept.display %>" selected="selected"><%= dept.display %></option>
                                    <% } else { %>
                                        <option value="<%= dept.abbr %>" label="<%= dept.display %>">
                                            <%= dept.display %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Theme:</td>
                        <td>
                            <select name="themeExisting">
                                <option value="-1" label="Other">Other</option>
                                <% for (let theme of themes) { %>
                                    <% if (theme.name === movie.theme) { %>
                                        <option value="<%= theme.name %>" label="<%= theme.display %>" selected="selected"><%= theme.display %></option>
                                    <% } else { %>
                                        <option value="<%= theme.name %>" label="<%= theme.display %>">
                                            <%= theme.display %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </td>
                        <td class="themespecify hdn">Please Specify:</td>
                        <td class="themespecify hdn">
                            <input class="input-textbox" name="themeNew" type="text" size="50" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <input class="button" type="button" value="Add Video" id="newVideoButton" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="tabledivider">
                            <hr />
                        </td>
                    </tr>
                    <% for (let video in videosAndSources) { %>
                        <tr data-video-id="<%= video %>">
                            <td>Video:</td>
                            <td>
                                <input class="input-textbox" type="text" disabled="disabled" value="<%= video %>">
                                <img src="<%= cacheBuster('images/delete-colored.svg') %>"
                                    class="deleteVideo delete-icon"
                                    data-video-id="<%= video %>"
                                    width="15"
                                    height="15">
                            </td>
                            <td>Video Class:</td>
                            <td>
                                <select name="type" data-video-id="<%= video %>">
                                    <% for (let type of videoTypes) { %>
                                        <% if (videosAndSources[video].type === type) { %>
                                            <option value="<%= type %>" label="<%= type %>" selected="selected">
                                                <%= type %>
                                            </option>
                                        <% } else { %>
                                            <option value="<%= type %>" label="<%= type %>"><%= type %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </td>
                        </tr>
                        <tr data-video-id="<%= video %>">
                            <td>Title:</td>
                            <td>
                                <input class="input-textbox"
                                    name="title"
                                    data-video-id="<%= video %>"
                                    value="<%= videosAndSources[video].title %>"
                                    size="50" />
                            </td>
                            <td></td>
                            <td>
                                <input type="button" value="Add Source" class="addSource button" data-video-id="<%= video %>">
                            </td>
                        </tr>
                        <% for (let source of videosAndSources[video].sources) { %>
                            <tr data-source-id="<%= source.id %>" data-video-id="<%= video %>">
                                <td colspan="4" class="tabledivider">
                                    <hr style="width: 75%" />
                                </td>
                            </tr>
                            <tr data-source-id="<%= source.id %>" data-video-id="<%= video %>">
                                <td>Source:</td>
                                <td>
                                    <input class="input-textbox" disabled="disabled" type="text" value="<%= source.id %>">
                                    <img src="<%= cacheBuster('images/delete-colored.svg') %>"
                                        class="deleteSource delete-icon"
                                        data-source-id="<%= source.id %>"
                                        width="15"
                                        height="15">
                                </td>
                                <td>Source MIME:</td>
                                <td>
                                    <select name="mime" data-source-id="<%= source.id %>">
                                    <% for (let mime of mimes) { %>
                                        <% if (mime.name === source.mime) { %>
                                            <option value="<%= mime.name %>" label="<%= mime.display %>" selected="selected"><%= mime.display %></option>
                                        <% } else { %>
                                            <option value="<%= mime.name %>" label="<%= mime.display %>">
                                                <%= mime.display %>
                                            </option>
                                        <% } %>
                                    <% } %>
                                    </select>
                                </td>
                            </tr>
                            <tr data-source-id="<%= source.id %>" data-video-id="<%= video %>">
                                <td>Source File:</td>
                                <td>
                                    <input class="input-textbox" type="text" name="file" value="<%= source.file %>" size="50" data-source-id="<%= source.id %>" />
                                </td>
                                <td>Resolution:</td>
                                <td>
                                    <select name="resolution" data-source-id="<%= source.id %>">
                                        <% for (let resolution of resolutions) { %>
                                            <% if (resolution === source.resolution) { %>
                                                <option value="<%= resolution %>" label="<%= resolution %>" selected="selected"><%= resolution %></option>
                                            <% } else { %>
                                                <option value="<%= resolution %>" label="<%= resolution %>">
                                                    <%= resolution %>
                                                </option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </td>
                            </tr>
                        <% } %>
                        <tr data-video-id="<%= video %>">
                            <td colspan="4" class="tabledivider">
                                <hr />
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <td colspan=4 style="text-align: center">
                            <input type="button" value="New Award" id="newAwardButton" class="button" />
                        </td>
                    </tr>
                    <% for (let award of awards) { %>
                        <tr class="awardExist">
                            <td style="text-align: center;">
                                Award Name:
                                <img src="<%= cacheBuster('images/delete-colored.svg') %>"
                                    class="deleteAward delete-icon"
                                    award="<%= award.id %>"
                                    width="15"
                                    height="15" />
                            </td>
                            <td>
                                <input type="text" class="awardName input-textbox" award="<%= award.id %>" value="<%= award.name %>" size="50" />
                            </td>
                            <td>Award Note (On Hover)</td>
                            <td>
                                <input type="text" class="awardNote input-textbox" award="<%= award.id %>" value="<%= award.note %>" size="50" />
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <hr />
            <input class="submit-btn button" type="button" id="submit" value="Submit" />
        </div>
        <script>
            window.data = <%- JSON.stringify({
                movie: movie,
                awards: awards,
                depts: depts,
                themes: themes,
                videosAndSources: videosAndSources
            }) %>;
        </script>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
