<!DOCTYPE html>
<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin', request: request, cacheBuster: cacheBuster}); %>
</head>
<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Edit Movie'}); %>
        <div id="content" class="tac initial-edit">
            <select name="movie" required="required">
                <option label="Choose a Movie" value="-1" disabled="disabled" selected="selected">Choose a Movie</option>
                <% for (movie of movies) { %>
                    <option value="<%= movie.val %>" label="<%= movie.text %>"><%= movie.text %></option>
                <% } %>
            </select>
            <br/>
            <input class="button" type="button" value="Edit Movie" disabled="disabled" />
        </div>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
