<!DOCTYPE html>
<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin | Users', request: request, cacheBuster: cacheBuster}); %>
</head>
<body>
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Manage Users'}); %>
        <div id="content" class="tac">
            <table class="width100 styled-table">
                <thead>
                    <tr>
                        <th>Permission</th>
                        <th>Description</th>
                        <th>Users With Permission</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let perm of permissions) { %>
                        <tr>
                            <td class="monospace">
                                <%= perm.permission %>
                                <% if (perm.permission !== 'manage_permissions') { %>
                                    <img src="<%= cacheBuster('images/delete-button.svg') %>"
                                        class="delete-button"
                                        data-permission="<%= perm.permission %>"
                                        width="16"
                                        height="16">
                                <% } %>
                            </td>
                            <td><%= perm.description %></td>
                            <td>
                                <% for (let user of perm.users) { %>
                                    <a href="/admin/user/<%= user.id %>"><%= user.username %></a>
                                    <br />
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <form action="/admin/permissions/new" method="post">
                <label for="name">Permission Name</label>
                <input type="text" maxlength="20" required="required" name="name" pattern="^[a-zA-Z_]*$"/>
                <label for="description">Permission Description</label>
                <textarea required="required" maxlength="255" name="description"></textarea>
                <input type="submit"/>
            </form>
        </div>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
