<!DOCTYPE html>

<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin | Users', request: request, cacheBuster: cacheBuster}); %>
</head>

<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Manage Users'}); %>
        <div id="content">
            <table class="permission-table">
                <thead>
                    <tr>
                        <th>Permission</th>
                        <th>Description</th>
                        <th>Users With Permission</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let perm of permissions) { %>
                    <tr>
                        <td>
                            <%= perm.permission %>
                            <% if (perm.permission !== 'manage_permissions') { %>
                            <img src="<%= cacheBuster('images/delete-colored.svg') %>"
                                class="delete-button" data-permission="<%= perm.permission %>"
                                width="15" height="15">
                            <% } %>

                        </td>
                        <td><%= perm.description %></td>
                        <td>
                            <% for (let user of perm.users) { %>
                            <a href="/admin/user/<%= user.id %>"><%= user.username %></a>
                            <br />
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <!-- </div> -->
            <div class="add-permission-container">
                <h3>Create Permission</h3>
                <form action="/admin/permissions/new" method="post">
                    <label for="name">Permission Name</label>
                    <input class="input-textbox" type="text" maxlength="20" required="required"
                        name="name" pattern="^[a-zA-Z_]*$" />
                    <div class="perm-description">
                        <label for="description">Permission Description</label>
                        <br />
                        <textarea class="input-textbox" required="required" maxlength="255"
                            name="description"></textarea>
                    </div>
                    <input class="button" type="submit" />
                </form>
            </div>

        </div>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
