<!DOCTYPE html>

<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin | Users', request: request, cacheBuster: cacheBuster}); %>
</head>

<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Manage Users'}); %>
        <div id="content">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Approved</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users) { %>
                    <tr>
                        <td><a class="user-link"
                                href="/admin/user/<%= user.attributes.id %>"><%= user.attributes.username %></a>
                        </td>
                        <td><a class="email-link"
                                href="mailto:<%= user.attributes.email %>"><%= user.attributes.email %></a>
                        </td>
                        <td data-approved="<%= user.attributes.approved %>">
                            <%= user.attributes.approved ? 'true' : 'false' %></td>
                        <td>
                            <% for (let perm of [...user.permissions].sort()) { %>
                            <%= perm %>
                            <br />
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <%- include('../footers.ejs', {}); %>
    </div>
</body>
