<!DOCTYPE html>
<head>
    <%- include('../head_shit.ejs', {title: 'EWMA | Admin | Users', request: request, cacheBuster: cacheBuster}); %>
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

<style>
  body {font-family: 'Didact Gothic';font-size: 16px;}
</style>

<body>
    <div id="site">
        <%- include('../headers.ejs', {pageId: 'Manage Users'}); %>
        <div id="content" class="tac">
            <table class="perm-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Approved</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users) { %>
                        <tr>
                            <td><a href="/admin/user/<%= user.attributes.id %>"><%= user.attributes.username %></a></td>
                            <td><a class="user-email" href="mailto:<%= user.attributes.email %>"><%= user.attributes.email %></a></td>
                            <td class="monospace" data-approved="<%= user.attributes.approved %>"><%= user.attributes.approved ? 'true' : 'false' %></td>
                            <td class="monospace">
                                <% for (let perm of [...user.permissions].sort()) { %>
                                    <%= perm %>
                                    <br />
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <%- include('../footers.ejs', {}); %>
        <img src="<%= cacheBuster('images/GoodWork.png') %>"
            style="float: right"
            width="50"
            height="50">
    </div>
</body>
