<div class="movie">
    <div class="movieTitleBlock">
        <div class="fr tar">
            <div class="videoBadge videoBadge-<%= video.type %>"></div>
            <div><%= video.viewcount || 0 %> View<%= video.viewcount === 1 ? '' : 's' %></div>
            <div class="smolits">Video <%= video.id %></div>
        </div>
        <h3>
            <% if (request.permissions.movie_edit) {%>
                <a href="/admin/edit/<%= video.movieId %>" title="Edit Movie">
                    <img class="editIcon" alt="edit" src="<%= cacheBuster('images/edit.svg'); %>" />
                </a>
            <% } %>
            <%= video.videoTitle || "?" %>
        </h3>
    </div>
    <br>
    <div class="movieSourceBlock">
        <table class="tac">
            <tbody>
                <tr>
                    <td>
                        <div class="videoContainer">
                            <video poster="<%= cacheBuster(`images/ewma_poster.svg`); %>"
                                data-movie-id="<%= video.movieId %>" data-video-id="<%= video.id %>" controls
                                id="video-<%= video.id %>" data-plyr-config="{}">
                                <% for (let source of video.sources) { %>
                                    <source type="<%= source.mime %>"
                                        src="<%= templateOptions.remoteMovies %>/static/movie_sources/<%= source.file %>"
                                        data-source-id="<%= source.id %>" <% if (source.resolution) { %>
                                        size="<%= source.resolution.replace(/[^0-9]/g, '') %>" <% } %>>
                                <% } %>
                                Go get a browser that was made in the last 5 years.
                            </video>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
