<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | ' + title}); %>
    <link rel="stylesheet" type="text/css" href="<%= cacheBuster('css/error.css'); %>" />
</head>
<body>
    <div id="site">
        <div class="absc db">
            <a href="/">
                <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
            </a>
            <br /><br />
            <div>
                <table id="summary">
                    <tbody>
                        <% for (let prop in data) { %>
                            <tr><td><%= prop %>:</td><td><%= data[prop] %></td></tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
