<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | ' + title}); %>
    <link rel="stylesheet" type="text/css" href="<%= cacheBuster('css/error.css'); %>" />
</head>
<body>
    <div id="site">
        <div class="absc db">
            <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
            <br /><br />
            <div>
                <table id="summary">
                    <tbody>
                        <tr><td>Code:</td><td><%= code %></td></tr>
                        <tr><td>Message:</td><td><%= message %></td></tr>
                        <tr><td>Method:</td><td><%= request.method %></td></tr>
                        <tr><td>Request URI:</td><td><%= request.pathname %><td></tr>
                        <tr><td>Request ID:</td><td><%= request.id %></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
