<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Movie List', request: request, cacheBuster: cacheBuster}); %>
</head>
<body>
    <div id="site">
        <%- include('headers.ejs', {pageId: 'Movie List'}); %>
        <script>
            window.movies = <%- JSON.stringify(movies); %>
        </script>
        <div id="content">
            <table id="movieTable">
                <tbody>
                    <% let cls = true; %>
                    <% for (let movieYear of movies) { %>
                        <tr class="yearRow">
                            <td><div><%= movieYear.year %></div></td>
                            <td>
                                <table class="movieYear">
                                    <tbody>
                                        <% for (let movie of movieYear.movies) { %>
                                            <tr class="movieRow <%= cls ? 'odd' : 'even' %>" onclick="javascript:location.href='/movies/<%= movie.id %>'">
                                                <% cls = !cls %>
                                                <% if (request.admin) {%>
                                                    <td class="editColumn">
                                                        <a href="/admin/edit/<%= movie.id %>">
                                                            <img class="editIcon" alt="edit" src="<%= cacheBuster('images/edit.svg'); %>" />
                                                        </a>
                                                    </td>
                                                <% } %>
                                                <td class="tac movieTitle">
                                                    <%= movie.title %><br />
                                                    <% if (movie.theme) { %>
                                                        <span class="smolits">(<%= movie.theme %>)</span><br />
                                                    <% } %>
                                                    <% if (movie.rating) { %>
                                                        <div class="stars">
                                                            <div class="empty-stars"></div>
                                                            <div class="full-stars" style="width: <%= movie.rating || '0'; %>%;"></div>
                                                        <div>
                                                    <% } %>
                                                </td>
                                                <td class="tac movieDept"><%= movie.display %></td>
                                                <td>
                                                    <div class="tac">
                                                        <% if (movie.awards) { %>
                                                            <% for (let award of movie.awards) { %>
                                                                <div class="award <%= award.note ? 'tooltip' : '' %>">
                                                                    <% if (award.note) { %>
                                                                        <span class="awardNote tooltiptext">
                                                                            <%= award.note %>
                                                                        </span>
                                                                    <% } %>
                                                                    <img class="awardILeft awardI" src="<%= cacheBuster(`images/award_left${award.gold ? '_gold' : ''}.png`); %>" type="image/png" alt="award" />
                                                                    <div class="awardTitle">
                                                                        <%- award.name.replace(/ /gm, '<br />') %>
                                                                    </div>
                                                                    <img class="awardIRight awardI" src="<%= cacheBuster(`images/award_right${award.gold ? '_gold' : ''}.png`) %>" type="image/png" alt="award" />
                                                                </div>
                                                            <% } %>
                                                        <% } %>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <%- include('footers.ejs', {}); %>
    </div>
</body>
