<!DOCTYPE html>
<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Password Reset', request: request, cacheBuster: cacheBuster}); %>
</head>
<body class="dark-theme">
    <div id="site">
        <div id="content">
            <div class="absc db">
                <a href="/">
                    <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
                </a>
                <br />
                <div class="errText">
                    <% if (errText) { %>
                        <%= errText %>
                    <% } else { %> &nbsp; <% } %>
                </div>
                <form method="POST" action="/useapasswordmanager" id="resetForm">
                    <input type="hidden" name="user" value="<%= user %>">
                    <input type="hidden" name="token" value="<%= token %>">
                    <div class="formPart">
                        Set new password for user <code><%= user %></code>
                    </div>

                    <div class="formPart">
                        <input class="input-textbox" type="password" name="password" id="password" placeholder="password" autocomplete="off" required="required" pattern=".{8,}" title="Must be at least 8 chars">
                    </div>

                    <div class="formPart">
                        <input class="input-textbox" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Repeat New Password" autocomplete="off" required="required" pattern=".{8,}" title="Must be at least 8 chars">
                    </div>

                    <input class="button" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</body>
