<!DOCTYPE html>

<head>
    <%- include('head_shit.ejs', {title: 'EWMA | Password Reset', request: request, cacheBuster: cacheBuster}); %>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
</head>

<style>
    body {
        font-family: 'Didact Gothic';
        font-size: 16px;
    }

</style>

<body>
    <div id="reset-site">
        <div id="content">
            <div class="absc db">
                <a href="/">
                    <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
                </a>
                <br />
                <div class="actual-content">
                    <div class="errText">
                        <% if (errText) { %>
                            <%= errText %>
                        <% } else { %> &nbsp; <% } %>
                    </div>
                    <form method="POST" action="/useapasswordmanager" id="resetForm">
                        <input type="hidden" name="user" value="<%= user %>">
                        <input type="hidden" name="token" value="<%= token %>">
                        <div class="formPart">
                            Set new password for user <code><%= user %></code>
                        </div>

                        <div class="formPart">
                            <input type="password" name="password" id="password" placeholder="password"
                                autocomplete="off" required="required" pattern=".{8,}" title="Must be at least 8 chars">
                        </div>

                        <div class="formPart">
                            <input type="password" name="passwordConfirm" id="passwordConfirm"
                                placeholder="Repeat New Password" autocomplete="off" required="required" pattern=".{8,}"
                                title="Must be at least 8 chars">
                        </div>
                        <input type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
