<!DOCTYPE html>

<head>
    <%- include('head_shit.ejs', {title: 'EWMA | The ENGG Week Movie Archive'}); %>
    <link rel="stylesheet" type="text/css" href="<%= cacheBuster('css/tos.css'); %>" />
</head>

<body class="<%= request.user.attributes.dark ? "dark-theme" : "light-theme" %>">
    <div id="site">
        <div class="absc db">
            <a href="/">
                <img class="logo db" src="<%= cacheBuster('images/ewma.svg'); %>" />
            </a>
            <br /><br />
            <div class="login-container">
                <p id="tos">
                    This service is lovingly provided by the Electrical, Computer, and Software
                    Engineering Students' Society (ZOO). In order to use it, you must abide by the
                    Terms of Service agreement. Also, we use cookies.
                    <br />
                </p>
                <br />
                <div id="errorMessage">
                    <%= request.errorMessage %>
                </div>
                <div id="login" class="tac">
                    <form id="login" action="/login" method="POST">
                        <input class="input-textbox" type="text" name="username" id="username" placeholder="username" />
                        <input class="input-textbox" type="password" name="password" id="password"
                            placeholder="password" />
                        <input type="hidden" name="dest" value="<%= dest %>" />
                        <br />
                        <input class="button" type="submit" value="I promise I won't be an Ass" />
                    </form>
                    <a href="/newaccount">Create an Account</a>
                    <a href="/useapasswordmanager">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</body>
